@mixin clearfix {
    // what clearfix does is it adds a sudo element to the collapsed element and
    // clears the floats  ... clear : both => clears both left and right floats

    &::after {
        content: "";
        display: block;
        clear: both;
    }
}