/*---------------------- buttons -------------------------*/
.btn {
    &, //button element does not have link andn visited so wee include & to include the button therse properties
    &:link,
    &:visited {
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 700;
      padding: 1.5rem 4rem;
      display: inline-block;
      transition: all .2s;
      border-radius: 10rem;
      position: relative;
      font-size: $default-font-size;
      
      // changes for <button> element
      border: none;
      cursor: pointer;
    }
    
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 5px 10px rgba($color: $color-black, $alpha: 5); 

       &::after {
      transform: scalex(1.4) scaleY(1.6);
      opacity: 0; }
    
    }
    
    &:active, //focus is for button element of this ancor type to over come the bluee out line when activee
    &:focus {
      transform: translateY(-1px);
      box-shadow: 0 3px 5px rgba($color: $color-black, $alpha: 5); 
    }
    
    &--white {
      background-color: $color-white;
      color: $color-grey-dark;  

    &::after {
      background-color:$color-white; }
    }

    &--green {
      background-color: $color-primary;
      color: $color-white;  

    &::after {
      background-color: $color-primary; }
          
    }
    
    /* style using psudo elements . sudo elements allow us to different parts of elements */
    &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .3s;
}

    &--animated {
      animation: moveInButton .5s ease-out 2s;
      animation-fill-mode: backwards;
    }

  }

.btn-text {    
    &:link,
    &:visited {
      color: $color-primary;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      font-size: $default-font-size;
      padding: 3px;
      transition: all .2s; 
      border-bottom: 1px solid $color-primary;
    }

    &:hover {
      background-color: $color-primary;
      color: $color-white;
      box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
      transform: translateY(-3px); }

     &:active {
      box-shadow: 0 .75rem 2rem rgba($color: $color-black, $alpha:.15);
      
       transform: translateY(-1px);
}
  }