.story {
    width: 75%;
    margin: 5rem auto;
    box-shadow: 0 3rem 6rem rgba($color: $color-black, $alpha: .1);
    background-color: rgba($color: $color-white, $alpha: 0.6);
    border-radius: 3px; 
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);

    @include respond(tab-port) {
        width: 100%;
        padding: 4rem;
        padding-left: 7rem;
    }
    @include respond(phone) {
        transform: translateX(0rem) skew(0);
    }

    // thisgonna not work becoz in css two transfoms are not going to work at a time on 
    // an element , here after this transform &__shape has another transform 
    // so we have to give it at their level
    // & > * { 
    // transform: skewX(-12deg);
    // }

    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;

        // // in order to use shapeoutside prop the element shuld be floated 
        // // and given width height
        // // this shape out ouny defines where the comtent has to flow around
        // -webkit-shape-outside: circle(50% at 50% 50%);
        // shape-outside: circle(50% at 50% 50%);

        // // gives the shape of the element
        // -webkit-clip-path: circle(50% at 50% 50%);  
        // clip-path: circle(50% at 50% 50%);

        transform: translateX(-3rem) skewX(12deg); 
        position: relative;
        overflow: hidden;
        border-radius: 50%;  //for firefox when below is not applied and need circle 

        //if supported by browser this circle shape apply    firfox will not support then above code only APPLY else all the code apply in remaining browsers
        @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
             // gives the shape of the element
        -webkit-clip-path: circle(50% at 50% 50%); 
        clip-path: circle(50% at 50% 50%);
         // in order to use shapeoutside prop the element shuld be floated 
        // and given width height
        // this shape out ouny defines where the comtent has to flow around
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        width: 15rem;
        height: 15rem;
     } 

        @include respond(phone) {
            
            transform: skewX(0deg);
            margin: 2rem;
            }
    }
 
    &__image {
        height: 100%;
        //in the aniation in image it zooms out so we keep initially bit zoomed in and
        // when hover it is set back to normal using scale.
        transform: translateX(-4rem) scale(1.4);
        // some wired thing happens when you give animation other that wat you except
        // that can be overcome by backface visibility     
        backface-visibility: hidden;
        transition: all .5s;

      
    }

    &__text {
        
        transform: skewX(12deg);

        @include respond(phone) {
            
        transform: skewX(0deg);
        }
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,20%);
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
    }

    //if you mention only hover for the whole element the whole element gets transmition / transfom
    // if we menction specific class inside the element ... the only class gets the transition 
    //here caption only gets transition animation as it is menctioned

    &:hover  &__caption { 
        opacity: 1;
        transform: translate(-50%,-50%);
    }

    &:hover &__image {
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(80%);
    }
}