/*------------------------ Basic setup ----------------------------------*/
*,
*::after,
*::before {
  /* ----- to set all the elements a common constraints ---*/
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /* to make the whole typogrphy in relation, we use "rem" which is x times of root font size
      we use 10px as root font size for easy manipulation of whole px calculation
      if we want 70px element we give it as 7rem where its value is 70px i.e 7*10px(root font size)
      lest now make it into percentage where regular default fontsize of browser is 
      16px so , 16px as 100% then 10px is 62.5% */
  font-size: 62.5%;
  /* 10px */ }

body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translate(20px); }
  100% {
    opacity: 1;
    transform: toanslate(0); } }

/*---------------------- key frames -------------------------*/
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  /* 60% {
          transform: rotate(180deg);
      } */
  80% {
    transform: translate(-2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translatey(3rem); }
  100% {
    opacity: 1;
    transform: toanslate(0); } }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /* during transforms or animations the backpart shakes some times to ovecome that */
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-out 2s;
    /*countfornooftimesitsuls=dhappen*/
    /*animation-iteration-count: 1; */ }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.6rem;
    animation: moveInRight 1s ease-out 2s; }

body {
  /* we specify base font attributes in body as the font attributes inherit from parent 
        and body is on top of hirearchy and and all the child elements gets inherited with the properties declared 
        in body selector */
  font-family: "Lato" ,"Arial", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  /* line height 1.7 meaans .. 1.7 times of pre defined height. */
  line-height: 1.7;
  color: #777;
  /*-- not for inheritance ---*/
  padding: 3rem; }

/*---------------------- buttons -------------------------*/
.btn {
  /* style using psudo elements . sudo elements allow us to different parts of elements */ }
  .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    padding: 1.5rem 4rem;
    display: inline-block;
    transition: all .2s;
    border-radius: 10rem;
    position: relative; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 .5rem 1rem #000; }
    .btn:hover::after {
      transform: scalex(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 .25rem .5rem #000; }
  .btn--white {
    background-color: #fff;
    color: #777; }
    .btn--white::after {
      background-color: #fff; }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .3s; }
  .btn--animated {
    animation: moveInButton .5s ease-out 2s;
    animation-fill-mode: backwards; }

/*---------------------------------- HEADER -------------------------------------*/
.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(119, 119, 119, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  /*-- refer link in importent notes ---*/
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* child logo box is set to absolute , so the header shuld be relative to set its position*/
  position: relative; }
  .header__logo-box {
    position: absolute;
    /*these top left props are calculated from the parent element header */
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    /* this selector element is set absolute and parent is set to relative 
            so these valuse are in relatinon with the parent */
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* to make every text type element in the div to center ... here making the button of type anchor having text to center */
    text-align: center; }
